.num-grid {


}

.num-input {

    padding: 10px;
    height: 10%;
    width: 10%;

}

.num-text {



}

.the-countdown-text {

    color:rgb(255, 255, 255);

}


.the-actual-line {

background-color: #E3A200;
width: 100%;
padding: 5px;
border-radius: 25px;
    
}

.score-counter {

color: #ffffff

}


.button-container {

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between; 

}