.num-grid {


}


.input-border {

    background-color: #e9b91e;
    border: solid #1900ff7c 3px;
    border-radius: 50%;

}

.num-input {

    width: 100%;

}


.the-countdown-text {

    color:rgb(255, 255, 255);

}


.the-actual-line {

background-color: #E3A200;
width: 97%;
padding: 5px;
border-radius: 25px;
    
}


.spacer-div {

padding: 10px;


}
