.main{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.results-background-image-nighttime {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
    animation: none;
}


.heading {

    color:rgb(255, 255, 255);
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px #E3A200;
    -webkit-text-stroke: 0.001px black;

}

.h3-score {

    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 255, 255)


}

.h3-percentage {

    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 255, 255)

}

.h3-encouragement{

    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 255, 255);
    font-size: small;

}

.button-container{

    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

.retry-button {
padding: 10px

}

.map-button {
    padding: 10px
    
}