#container{
  /* height:  2158px;
  width: 1406px; */
  background-image: url(./Split-Background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
}

.child-welcome{
  text-align: center;
  color:#EDBD48;
  font-size: 2.4vw;
  text-shadow: 2px 2px 0px #5F061E;
  margin-bottom: 2%;
}

.parent-welcome{
  text-align: center;
  color:#5F061E;
  font-size: 2.4vw;
  text-shadow: 2px 2px 0px #EDBD48;
  margin-bottom: 2%;
}

.child-text-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 10%;
    max-width: 45vw;
}

.parent-text-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 25%;
    right: 10%;
    max-width: 45vw;
}

.parent-button{
  padding: 1%;
  white-space: nowrap;
}

.child-button{
  padding: 10%;
  white-space: nowrap;
}