#container{
 
  /* height:  2158px;
  width: 1406px; */
  background-image: url(SplitEditWithTitle.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
min-width: 100vh;
min-height: 100vh;

  
}



  .child {
    position: fixed;
    top: 300px;
    left: 300px;
  }

  .parent {
    position: fixed;
    top: 500px;
    left: 1100px;
  }