.App {
  text-align: center;
}

:root{

  /*BUTTON VARIABLES*/

  /*button background color*/
  --btn-bg-clr: #EDBD48;

  /*button text color*/
  --btn-txt-clr:  #5F061E;

}

button{
  background-color: var(--btn-bg-clr);
  color: var(--btn-txt-clr);
  border: none;
  padding: 1%;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #5f061e76;
}

button:hover{
  background-color: var(--btn-txt-clr);
  color: var(--btn-bg-clr);
}