
.button{
  background: -webkit-linear-gradient(right, rgb(168, 94, 25), rgb(249, 189, 37));
  box-shadow: 0px 1px 8px rgb(249, 147, 37);
  font-family: "Raleway SemiBold", sans-serif;
  border-radius: 15px;
  position: relative;
  border: 2px solid rgb(249, 189, 37);
  color: white;
  text-decoration: none;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  transition: 0.25s;
  width: 10vw;
  height: 8vh;
  margin: 0;
  margin-top: 0.5%;
  margin-left: 0.5%;
}

.button:hover {
  box-shadow: 0px 3px 14px rgb(249, 147, 37);
  color: darkred
}


/* #card {
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

:root{

  /*BUTTON VARIABLES*/

  /*button background color*/
  --btn-bg-clr: #EDBD48;

  /*button text color*/
  --btn-txt-clr:  #5F061E;

}


button{
  background-color: var(--btn-bg-clr);
  color: var(--btn-txt-clr);
  border: none;
  padding: 1%;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #5f061e76;
}

button:hover{
  background-color: var(--btn-txt-clr);
  color: var(--btn-bg-clr);
}

