.page-container{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../../daytime-jungle.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.child-homepage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.child-homepage-header{
    font-family: "Mochiy Pop P One", sans-serif;
    margin: 0;
    margin-top: 5%;
    color: rgb(249, 189, 37);
    font-size: 4vw;
    text-shadow: 4px 4px 0px #5F061E;
    text-align: center;
}

.child-homepage-subheader{
    font-family: "Mochiy Pop P One", sans-serif;
    margin: 0;
    margin-top: 5%;
    color: #5F061E;
    font-size: 2vw;
    text-shadow: 2px 2px 0px rgb(249, 189, 37);
    text-align: center;
}

.child-homepage-heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expedition-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 40%;
}

.percentage-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(249, 189, 37);
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 2vw;
    text-shadow: 1px 1px 0px #5F061E;
}

.background-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 85vh;
    border-radius: 25px;
    background-color: #edca7365;
}