
@import url('http://fonts.cdnfonts.com/css/oil-age-heiroglyphs');

* {
  margin: 0;
}
.Expedition{
  background: url('images/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
    
  }

  .ExpeditionPage{
  width:100vw;  /*adjust to fit the screen*/
  height:960px;  /*adjust to fit the screen*/
  }

.expeditionH1{
  position: absolute;
  left:60%;
  top:8%;
  transform: translate(-50%, -50%);
  font-family: 'Oil Age Heiroglyphs', sans-serif;
  color: rgb(71, 31, 24);
  font-size: 7em;
  font-weight: lighter;   
  cursor: default;                                 
}

.expeditionH2{
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family: 'Oil Age Heiroglyphs', sans-serif;
  color: rgb(71, 31, 24);
  font-size: 2em;
  font-weight: lighter;
  opacity: 90%;
  cursor: default;
                                             
}




/*Path 1*/

.wrap {
  position: absolute;
  top:9%;
  left: 10%;
  width:50%;
  

 
  
}
.upper, .lower {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 300px;
  justify-content: space-between;
  
}

.lower /*right side*/{
  position: relative;
  left:21px;
  top: -265px;
  padding:2px;
 
 
}

.upper img, .lower img {
  width: 20px;
  height: 40px;
  padding: 12px;
  opacity: 0.2;
  animation: fadeIn  /*, fadeOut*/;
  animation-duration: 4s, 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


@keyframes fadeIn {
  0% {opacity: 1};
  100% {opacity: 1};
}

.upper img:first-child {
  animation-delay: 0.5s, 3.5s; 
  
}
.lower img:first-child {
  animation-delay: 1s, 4s;  
  transform: rotate(10deg); 
}
.upper img:nth-child(2) {
  animation-delay: 1.5s, 4.5s;
  
}
.lower img:nth-child(2) {
  animation-delay: 2s, 5s;
  transform: rotate(10deg); 
}
.upper img:nth-child(3) {
  animation-delay: 2.5s, 5.5s;
  
}
.lower img:nth-child(3) {
  animation-delay: 3s, 6s; 
  transform: rotate(20deg); 
}
.upper img:nth-child(4) {
  animation-delay: 3.5s, 6.5s;
 
  
}
.lower img:nth-child(4) {
  animation-delay: 4s, 7s;
  transform: rotate(15deg);
}
.upper img:nth-child(5) {
  animation-delay: 4.5s, 7.5s;
  transform: rotate(-10deg);
}
.lower img:nth-child(5) {
  animation-delay: 5s, 8s;  
  transform: rotate(0deg);
}
.upper img:nth-child(6) {
  animation-delay: 5.5s, 8.5s;
  transform: rotate(-10deg);
}
.lower img:nth-child(6) {
  animation-delay: 6s, 9s;
  transform: rotate(-10deg);
}
.upper img:nth-child(7) {
  animation-delay: 6.5s, 9.5s;
  transform: rotate(-10deg);
}
.lower img:nth-child(7) {
  animation-delay: 7s, 10s; 
  transform: rotate(-15deg);
}
.upper img:nth-child(8) {
  animation-delay: 7.5s, 10.5s;
  transform: rotate(-25deg);
}
















  
 
