@import url('http://fonts.cdnfonts.com/css/oil-age-heiroglyphs');

* {
    margin: 0;
}




.ChildHomeButton{
    position: absolute;
    height: 160px;
    width: 160px;
    bottom:7%;
    left: 5.5%;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    color:rgb(238, 244, 209);
    font-size: 3em;
    text-decoration: none;
    font-family: 'Oil Age Heiroglyphs', sans-serif;
   
    
        
    
}



.ChildHomeButton:hover{
    background-color: transparent;
    
}
