@import url('http://fonts.cdnfonts.com/css/oil-age-heiroglyphs');



.ChildHomeButton{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 91%;
    left: 14.5%;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    color:rgb(244, 209, 209);
    font-size: 2em;
    text-decoration: none;
    font-family: 'Oil Age Heiroglyphs', sans-serif;
   
    
        
    
}


.button{
    position:absolute;
    top: 45%;
    left: -25%;
    max-width: 90%;
    text-decoration: none;
    color:black;
}
