:root {

 --banana-hidden: visibility: hidden;
 --banana-visible: visibility: visible;

}


.title-text-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    width:100vw;
    height: 30vh;

}


.the-activity-heading {

    font-size: 10vh;

    font-family: 'Fredoka One', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #E3A200;
    -webkit-text-stroke: 0.1px black;


}


.lets-go-h2 {

    font-size: 5vh;

    font-family: 'Fredoka One', sans-serif;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px black;

}


.focus-area {

    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.the-card-div-activity {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 55vw;
    height: 45vh;

    border-radius: 25px;
    background-color: #51bfce82;

}



.num-line-container {

    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    height: 25vh;
    width: 45vw;

}



.button-container-numline {

    margin-top: 1%;
    width:100%;
    display: flex;
    justify-content: center;

}



.banana-container {

    width: 90px;
    height: 45vh;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: solid #1900ff4c 4px;
    border-radius: 25px;
    background-color: #51bfce3f;

}

.banana-wrap {

    width: 90px;
    height: 43vh;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;

}


.the-score-container {

    display: flex;
    justify-content: center;
    align-items: center;

}


.num-grid {

    display: grid;
    grid-template-columns: repeat( 10 , 1fr );
    margin: 0;
    width: 100%;
    height:50%;
    align-items: center;

}


.num-text {

    text-align: center;

    margin: 0;
    clip-path: circle();
    padding: 8%;
    background-color: #e9b91e;
    
    font-size: 40px;
    color: #6e0000;
}


.num-input {

    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #ffffff00;
    border: none;
    outline: none;
    font-size: 45px;
    color: #3113ab;
}



.submit-button {

    padding: 15px;
    font-size: 150%;

}


p {
    margin: 0;
}

.the-activity-description{

    font-size: 4vh;

    color:rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;

}

.score-counter {

    color: #ffffff;
    font-size: small; 
    
    }



.the-invisible-timer {

    visibility: hidden;

}


.activity-background-image-daytime {

    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;

    overflow: hidden;
    background-image: url(../../daytime-jungle.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}


.activity-background-image-nighttime {

    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
    animation: day-to-night 15s linear 1;

    overflow: hidden;
    background-image: url(../../nighttime-jungle.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes day-to-night{
    0%{
        opacity:0%
    }
    100%{
        opacity:100%
    }
}