

.title-text-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    width:100vw;
    height: 30vh;

    border: solid #2d5d00;

}


.the-activity-heading{

    font-family: 'Fredoka One', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #E3A200;
    -webkit-text-stroke: 0.1px black;


}

.lets-go-h2 {

    font-family: 'Fredoka One', sans-serif;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px black;

}


.focus-area {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border: solid rgb(37, 134, 4);

}


.the-card-div-activity {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 55vw;
    height: 50vh;

    border-radius: 25px;
    background-color: #edca7365;

}



.num-line-container{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50vw;

    border: solid gold;
 

}



.button-container{
    margin-top: 1%;
    width:100%;
    display: flex;
    justify-content: center;

    border: solid black;

}



.banana-container {


    width: 60px;
    height: 160px;
    
    border: solid #ffffff9a 2px;
    border-radius: 25px;
    background-color: #edca7365;

}




.num-grid {
    display: grid;
    grid-template-columns: repeat( 10 , 1fr );
    margin: 0;
    width: 100%;
    height: 50%;
    align-items: center;
}


.num-text {
    text-align: center;

    margin: 0;
    clip-path: circle();
    background-color: rgb(233, 185, 30);
    font-size: 30px;
}

.num-input {
    text-align: center;
    margin: 0;
    width: 100%;
    clip-path: circle();
    background-color: rgb(233, 185, 30);
    border: none;
    outline: none;
    font-size: 30px;
    color: #28c522;
}

.submit-button {
    padding: 10px;

}

p {
    margin: 0;
}

.the-activity-description{

    color:rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;

}

.activity-background-image-daytime {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
}

.activity-background-image-nighttime {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
    animation: day-to-night 60s linear 1;
}

@keyframes day-to-night{
    0%{
        opacity:0%
    }
    100%{
        opacity:100%
    }
}