:root{
    background-color: antiquewhite;

}


.num-line-container{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 80%;
}


.num-grid{
    display: grid;
    grid-template-columns: repeat( 10 , 1fr );

    border-bottom: solid rgb(255, 207, 48) 5px;

    width: 100%;
    height: 50%;
}


p{
    text-align: center;
    margin: 0;
}